.contenedorPrincipal{
    text-align: center;
    color: blue;
    border:1px 1px black;
    background-color: aqua;
}

.contenedorPrincipal span{
    color:black;
}

.contenedorContenido{
    text-align: center;
    margin-top: 20px;
}

footer #fin{
    text-align: right;
    margin-top: 200px;
    background-color: red;
}