.contenedorPrincipal{
    text-align: center;
    color: blue;
    border:1px 1px black;
    background: #33A;
}
.contenedorPrincipal img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 100px;
}

.contenedorPrincipal span{
    color:black;
}

.contenedorContenido{
    text-align: center;
    margin-top: 20px;
}

footer #fin{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 200px;
    background-color: blueviolet;
}

#slider{
    margin-left: 0px;
}
